@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --font-primary:  "Playfair Display", serif;
  --color-bg:  #6D8A96;
  --color-text: BLACK;
  --color-text-alt: rgb(44, 43, 43);
  --color-dark: #5D707F;
  --color-dark-light: #7d91a1;
  --color-light: #8797B2;
  --color-light: #b0bdd3;
  --color-bright: #66CED6;
  --color-bright-alt: #a2d1d4;
}

.cool{
  --color-bg:  #ffffff;
  --color-text: BLACK;
  --color-text-alt: rgb(44, 43, 43);
  --color-dark: #383838;
  --color-dark-light:#5c5c5c;
  --color-light: #ADC698;
  --color-lighter: #D0E3C4;
  --color-bright: #C05746;
  --color-bright-alt: #c2766b;
}

.dark{
  --color-bg:  #32373b;
  --color-text: white;
  --color-text-alt: rgb(180, 180, 180);
  --color-dark: #4a5859;
  --color-dark-light: #576566a3;
  --color-light: #F4B860;
  --color-light-alt: #fffb00;
  --color-lighter: #f4d6cc;
  --color-bright: #C83E4D;
  --color-bright-alt: #cc6974;
}

/* BASE STYLES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
  background-color: #32373b;
}

input{
  background: none; /* Remove background */
  border: none;     /* Remove border */
  box-shadow: none; /* Remove box shadow */
}

h1{
  font-size: 1.4rem;
}

.btn{
  font-weight: 500;
  padding: 0.3rem 1rem;
  background-color: var(--color-dark-light);
}

.btn-sml{
  font-weight: 500;
  padding: 0.05rem 1rem;
  background-color: var(--color-dark-light);
}

.btn:hover{
  background-color: var(--color-bg);
}

.del{
  color: rgb(240, 0, 0);
}

.display-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container */

.container{
  width:95%;
  margin: auto;
}

/* Banner */

.banner {
  margin: 2rem auto;
  height: 600px; /* Adjust this value based on your design */
  background: url('./styling/images/food.jpg') no-repeat center center/cover; /* Replace with your image URL */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-bright);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding:10px;
}

.banner-content h1 {
  font-size: 3rem; /* Adjust the size as needed */
  margin: 0;
}

.banner-content p {
  font-size: 1.5rem; /* Adjust the size as needed */
}

/* Section */

.content-section{
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
}

/* Utility */

.hide{
  display: none;
}

.visbility{
  visibility: hidden;
}

/* */

.app-container{
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;;
}

.link{
  text-decoration: none;
}

.pop{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pop:hover {
  transform: translateY(-10px) scale(1.05); /* Slight upward movement and scaling */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adding a shadow to give depth */
}