.txt{
    background: var(--color-dark);
    margin: 10px 0;
    padding: 10px;
    border:none;
    border-radius: 4px;
    box-shadow: 0 0 0 0.5px #0003;
    resize: none;
    width: 100%;
    overflow: hidden;
}

.xxx{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: blue;
}

.x{
    height: 100%;
    background-color: yellow;
}